.dd {
    position: relative;
    user-select: none;
}
.dd:focus > .dd-body,
.dd:focus-within > .dd-body {
    visibility: visible;
    z-index: 999999;
    overflow: auto;
}
.dd > .dd-body {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: auto;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.dd > .dd-body.right {
    right: 0;
    left: auto;
}
.dd > .dd-body > .dd-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
/* Styles */
.dd {
    color: var(--tertiary-forground);
    font-family: var(--font-normal);
}
.dd > .dd-head:hover,
.dd:focus-within > .dd-head,
.dd > .dd-body {
    background-color: var(--tertiary-background);
}
.dd > .dd-head,
.dd > .dd-body > .dd-item .btn {
    appearance: none;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0.125rem;
    cursor: pointer;
}
.dd > .dd-head,
.dd > .dd-body {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.dd > .dd-head {
    /* color: var(--tertiary-forground); */
    color: inherit;
}
.dd > .dd-body {
    box-shadow: 0 5px 5px -3px #00000014, 0 8px 10px 1px #0000000f, 0 3px 14px 2px #0000000a;
    margin-top: 0.125rem;
}
.dd > .dd-body,
.dd > .dd-body > .dd-item .btn {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}
.dd > .dd-body > .dd-item .btn {
    color: var(--primary-forground);
    font-family: var(--font-normal);
    font-size: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    width: 100%;
}
.dd > .dd-body > .dd-item:hover {
    background-color: var(--primary-hover);
}
.dd > .dd-body > .dd-item.active:before {
    content: '\2714';
    color: var(--active);
    position: absolute;
    margin-left: 0.125rem;
}
.dd > .dd-body > .dd-item.active:hover:before {
    content: '\2715';
    color: var(--primary-forground);
    font-weight: 900;
}
.dd > .dd-body > .dd-item.active .btn {
    text-indent: 1rem;
    padding-left: 0;
}
/* Motion */
.dd > .dd-body.right {
    transform-origin: top right;
}
.dd > .dd-body {
    opacity: 0;
    transform: scale(0.25);
    transform-origin: top left;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}
.dd:focus-within > .dd-body {
    opacity: 1 !important;
    transform: scale(1) !important;
}
